@forward 'global';
@forward 'util';
@forward 'sections';

html
{
    scroll-behavior: smooth;
}

body
{
    min-height: 100lvh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    background-color: var(--albastru-50);

}