@use '../util/mixin' as m;

.main__contact
{
    width: 100%;

    .contact
    {
        width: 100%;

        &[open] .contact__answer
        {
            animation: accordion-animation 0.25s ease-in;            
            @include m.accordion-animation;
        }

        &__question
        {
            background-color: white;
            padding: var(--spacing-400);
    
            border:1px solid black;

            @include m.dm-paragraph;
            color: var(--albastru-500); 
        }

        &__answer
        {
            position: relative;
            display: flex;

            align-items: center;
            justify-content: start;
            padding: var(--spacing-400);

            border-bottom-right-radius: 10px;
            background-color: hsl(from var(--albastru-500) h s l);
            color: white;

            @include m.breakpoint('xlarge')
            {
                justify-content: space-around;
            }

            @include m.sans-paragraph;

            &__background
            {
                position: absolute;
                top: 0;
                left: 0;

                z-index: 1;

                width: 100%;
                height: 100%;

                img
                {
                    width: 100%;
                    height: 100%;
                }
            }

            &__address
            {
                width: 100%;
                z-index: 2;
                display: flex;
                flex-direction: row;
                
                flex-wrap: wrap;

                justify-content: center;
                align-items: center;

                gap: var(--spacing-400);
                
 
                & > *
                {
                    flex: 1 0 100%;

                    text-align: left;
                    &::after
                    {
                        margin-top: var(--spacing-400);
    
                        display: flex;
                        flex-direction: column;
                        content: '';
                        width: 30ch;
                        height: 1px;
                        background-color: white;
                    }
                }

                .address__date
                {
                    display: flex;
                    flex-direction: column;
                    list-style: none;

                    gap: var(--spacing-100);

                    a
                    {
                        text-decoration: underline;
                        color: white;
                        transition: color 0.25s;
                    }

                    a:hover
                    {
                        color: teal;
                    }

                    li
                    {
                        display: flex;
                        align-items: center;
                        gap: var(--spacing-100);
                    }

                    &__email::before, &__telefon::before
                    {
                        content: '';
                        width: 2rem;
                        height: 2rem;
                        
                        background: url(/assets/images/email.svg) center no-repeat;
                        background-color: var(--albastru-200);
                        border-radius: 50%;
                    }

                    &__telefon::before
                    {
                        background: url(/assets/images/phone.svg) center no-repeat;
                        background-color: var(--albastru-200);
                    }
                }

                .address__program
                {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-200);
                
                    &::after
                    {
                        margin-top: var(--spacing-200);
                    }

                    &__lista
                    {
                        display: flex;
                        flex-direction: column;
                        gap: var(--spacing-200);
                            
                        margin-left: var(--spacing-400);
                    }
                }
            }

            &__poza
            {
                display: none;
            }

            @include m.breakpoint('xlarge')
            {   

                &__address
                {
                    width: min-content;
                }

                &__poza
                {
                    display: block;
                    z-index: 2;
                    flex-shrink: 0;
                    
                    width: 40rem;
                    height: 25rem;
                    

                    box-shadow: 0px 0px 15px 2px var(--albastru-50);
                    
                    border-radius: 20px;

                    img
                    {
                        border-radius: inherit;
                        width: 100%;
                        height: 100%;

                        object-fit: cover;
                    }
                }
            }
        }
    }
}