@use '../util/mixin' as m;

.despre
{
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: var(--spacing-400) var(--spacing-100) var(--spacing-800);

    gap:var(--spacing-400);

    background-color: #ffffff;
    background-image: 
      radial-gradient(at 0% 0%, rgba(230, 242, 255, 0.5) 0, transparent 50%), 
      radial-gradient(at 100% 100%, rgba(235, 235, 235, 0.3) 0, transparent 50%),
      radial-gradient(#e0e0e0 1px, transparent 1px);
    background-size: 100% 100%, 100% 100%, 30px 30px;
    
    &__header
    {
        width: 17ch;
        padding: 0 var(--spacing-100);
        @include m.dm-header;
        color: var(--albastru-500);
        text-align: center;

        &__underline
        {
            text-decoration: underline;
        }
    }

    &__paragraph
    {
        width: 90%;
        @include m.sans-paragraph;
        font-weight: 300;
        color: var(--albastru-950);
        text-align: center;
        padding: var(--spacing-400) var(--spacing-200);

        display: flex;
        flex-direction: column;
        gap:var(--spacing-400);

        :nth-child(even)
        {
            color: teal;
        }

        i
        {
            text-decoration: underline;
        }
    }

    &__grid
    {
        border-radius: 10px;
        width: 100%;
        height: auto;

        display: grid;
        grid-template-rows: reapeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        
        gap: var(--spacing-100);

        @include m.breakpoint('large')
        {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(4, 1fr);
        }

        &__picture
        {
            width: 100%;
            height: 100%;

            img
            {
                width: 100%;
                height: 100%;

                object-fit: cover;

                transition: scale 0.5s;

                &:hover
                {
                    scale: 1.1;
                }
            }
        }
    }
}