@use '../util/mixin' as m;

.main__form
{
    margin-top: var(--spacing-400);

    width: 90%;
    padding: var(--spacing-200) 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: var(--spacing-100);

    &__header
    {
        color: var(--albastru-500);
        @include m.dm-header;
        font-size: clamp(1rem, 0.8rem + 2vw, 2rem);
    }

    .form
    {
        padding: var(--spacing-400) var(--spacing-400);

        border:2px solid var(--albastru-500);
        border-radius: 10px;

        width: 100%;

        display: flex;
        flex-direction: column;
        
        gap: var(--spacing-200);

        *
        {
            @include m.sans-paragraph;
            font-size: var(--small-paragraph);
        }

        label > input:invalid,
        label > textarea:invalid,
        label > select:invalid
        {
            background-color:hsl(from red h s l /0.1);
        }

        label
        {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: start;
            gap: var(--spacing-100);

            transition: color 0.2s;

            input
            {
                width: 100%;
                padding: var(--spacing-100);
                
                border: 1px solid var(--albastru-950);
                border-radius: 10px;

                background-color: white;
                transition: background-color 0.5s;
            }

            textarea
            {
                width: 100%;
                padding: var(--spacing-200);
                border:1px solid var(--albastru-950);
                border-radius: 10px;

                min-height: 5rem;
                resize:vertical;
            }

            select
            {
                width: 100%;
                height: auto;

                padding: var(--spacing-100);
                background-color: var(--albastru-100);
                border:1px solid var(--albastru-950);
                border-radius: 10px;
            }

        }

        label[for=consintamant]
        {
            padding: 0 var(--spacing-100);
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: var(--spacing-100);

            font-style: italic;

            color: grey;
            &::before
            {
                flex-shrink: 0;
                content: '';
                display: block;

                width: 6px;
                height: auto;
                aspect-ratio: 1/1;

                background-color: var(--albastru-400);
                border-radius: 50%;
            }

            input
            {
                margin-left: var(--spacing-100);
                scale: 1.5;
                width: min-content;
            }
        }

        &__pacient
        {
            width: 100%;
            border: 0;

            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: start;

            gap: var(--spacing-300);

            @include m.breakpoint('large')
            {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &__submit
        {
            padding: var(--spacing-200) var(--spacing-400);

            background-color: var(--albastru-500);
            font-weight: bold;

            color: white;

            border: 0;
            border-radius: 10px;

            transition: background-color 0.2s;
        
            &:hover
            {
                background-color: var(--albastru-400);
            }
        }
    }
}


//Form popup

.popup
{
    z-index: 1000;
    position: fixed;
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: space-around;

    right: 0;
    bottom: 0;

    padding: var(--spacing-200) var(--spacing-400);

    width: 100%;
    height: fit-content;

    @include m.breakpoint('medium')
    {
        width: fit-content;
        bottom: 5%;
    }
    
    background-color: white;
    border:2px solid var(--albastru-950);
    border-top: 10px solid var(--albastru-950);
    border-radius: 10px;

    animation: popup-appear 1s;

    &__header
    {
        @include m.dm-header;
        color: var(--albastru-500);
    }

    &__paragraph
    {
        @include m.sans-paragraph;
        font-size: var(--small-paragraph);
    }

    &__button
    {
        position: absolute;
        top: 1%;
        right: 1%;

        border: 0;
        background: url(/assets/images/close.svg) center no-repeat;

        width: 32px;
        height: 32px;   
    }

    @keyframes popup-appear
    {
        from
        {
            transform:translateY(20%);
            opacity: 10%;
        }

        to
        {
            opacity: 100%;
        }
    }
}

.popup[disappear]
{
    animation: popup-disappear 2s;
    @keyframes popup-disappear 
    {
        from
        {
            opacity: 100%;
        }
        to
        {
            opacity: 0%;
            transform: translateY(-200%);
        }
    }
}