@use '../util/mixin' as m;

.main
{
    margin: auto;
    width: 90%;
    height: fit-content;

    background-color: white;

    margin-top: var(--spacing-400);

    @include m.breakpoint('medium')
    {
        margin-top: var(--spacing-800);
        width: 90%;
    }

    @include m.breakpoint('large')
    {
        width: 80%;
    }

    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: var(--spacing-800);

    overflow-x: hidden; 
}