@use '../util/mixin' as m;

.main
{
    margin: auto;
    width: 90%;
    height: fit-content;

    background-color: white;

    margin-top: var(--spacing-400);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    // gap: var(--spacing-600);

    overflow-x: hidden;

    @include m.breakpoint('medium')
    {
        margin-top: var(--spacing-800);
        width: 90%;
    }

    @include m.breakpoint('large')
    {
        width: 80%;
    }

    :nth-child(odd)[visible]
    {
        opacity: 1;
        animation: visible-animation-top 0.5s;
    }

    :nth-child(even)[visible]
    {
        opacity: 1;
        animation: visible-animation-bottom 0.5s;
    } 

    & > *
    {
        opacity: 0;
    }
}