@use '../util/mixin' as m;

.main
{
    margin: auto;
    width: 90%;
    height: fit-content;

    background-color: white;

    margin-top: var(--spacing-400);

    @include m.breakpoint('medium')
    {
        margin-top: var(--spacing-800);
        width: 90%;
    }

    @include m.breakpoint('large')
    {
        width: 80%;
    }

    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: var(--spacing-1000);

    overflow-x: hidden;

    hr
    {
        margin: calc(-1 * var(--spacing-600)) 0;

        width: 90%;
        height: 2px;

        background-color: var(--albastru-500);
        border: 0;
        border-radius: 10px;
    }
}