@use '../util/mixin' as m;

.servicii
{
    position: relative;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: fit-content;
    
    padding: var(--spacing-400) 0;
    
    gap:var(--spacing-400);
    
    background: linear-gradient(0deg,rgba(207, 207, 207, 0.27) 0%, rgba(0, 119, 184, 0.12) 83%, rgba(0, 119, 184, 0.32) 100%);
    
    &__background
    {
        position: absolute;
        
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        
        img
        {
            width: 100%;
            height: 100%;
            
            object-fit: cover;
        }
    }
    
    @include m.breakpoint('large')
    {
        padding: var(--spacing-800) 0;
    }
    
    &__container
    {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;    
        
        justify-content: center;
        align-items: center;

        flex-wrap:wrap;
        
        gap: var(--spacing-400);

        // @include m.breakpoint('large')
        // {
        //     flex-direction: row;
        // }

        padding: 0 var(--spacing-400);
    }

    &__subheader
    {
        @include m.sans-paragraph;
        text-transform: uppercase;
        font-weight: 700;
        color: teal;
        margin-bottom: calc(-1 * var(--spacing-200));
    }

    &__header
    {
        @include m.dm-header;
        color: var(--albastru-500);
    }

    &__card
    {
        z-index: 1;
        width: fit-content;
        display: flex;
        flex-direction: column;

        gap:var(--spacing-200);

        padding: var(--spacing-400);

        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 0px 10px 1px grey;

        outline: 1px solid var(--albastru-950);

        transition: transform 0.1s;

        width: 25rem;
        height: fit-content;

        &:hover
        {
            transform: translateY(-5%);

            .servicii__card__picture
            {
                img
                {
                    scale: 1.2;
                }
            }
            .servicii__card__lista
            {
                &::after
                {
                    background-color: var(--albastru-200);
                }
            }
        }

        &__picture
        {
            img
            {
                transition: scale 0.2s;
            }
        }

        &__header
        {
            @include m.dm-header;
            color: var(--albastru-500);
            transition: color 0.5s;

            text-wrap: nowrap;

            &:hover
            {
                color: teal;
                cursor: default;
            }
        }

        &__paragraph
        {
            @include m.sans-paragraph;
            color: gray;
        }

        &__lista
        {
            margin-top: var(--spacing-200);

            display: flex;
            flex-direction: column;

            align-items: start;
            justify-content: center;

            gap:var(--spacing-200);
            list-style: none;

            &:hover &::before
            {
                background-color: teal;
            }

            &::after
            {
                margin-top: var(--spacing-400);
                content: '';
                width: 80%;
                height: 4px;
                background-color: var(--albastru-500);

                align-self: center;

                transition: background-color 0.2s;
            }
        }

        &__beneficii
        {
            @include m.sans-paragraph;
            display: flex;

            justify-content: start;
            align-items: center;

            gap: var(--spacing-200);

            &::before
            {
                flex-shrink: 0;
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                background: url(/assets/images/check-circle.svg) center no-repeat;
                background-size: contain;
            }
        }
    }
}