@use '../util/mixin' as m;

.tarife
{
    width: 100%;
    position: relative;

    display: flex;  
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: var(--spacing-400) 0;

    gap:var(--spacing-800);

    @include m.breakpoint('large')
    {
        padding: var(--spacing-1000) 0;
    }

    &::before
    {
        z-index: 1;

        content: '';

        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: hsl(from black h s l / 0.5);

    }

    &__background
    {
        z-index: 0;
        position: absolute;

        top:0;
        right: 0;

        width: 100%;
        height: 100%;

        img
        {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }


    &__info
    {
        padding: var(--spacing-200);

        z-index: 2;
        display: flex;
        flex-direction: column;

        width: clamp(30ch, 20ch + 20vw, 50ch);

        background-color: white;
        border-radius: 10px;

        justify-content: center;

        gap:var(--spacing-400);

        &__header
        {
            @include m.dm-header;
            color: var(--albastru-500);
        }

        &__paragraph
        {
            @include m.sans-paragraph;
        }

        &__addnotation
        {
            @include m.sans-paragraph;
            font-size: var(--very-small-paragraph);
            font-style: italic;
            color: gray;

            a
            {
                color: teal;
                text-decoration: underline;
            }
        }
    }

    &__tabel
    {
        z-index: 2;
        
        & *
        {
            border: 0;
            background: linear-gradient(0deg, var(--albastru-50) 0%, var(--albastru-100) 80%);
            color: var(--albastru-500);
            padding: var(--spacing-200);

            text-align: center;
            @include m.sans-paragraph;
        }

        caption
        {
            border:2px solid var(--albastru-500);
            @include m.dm-header;
        }

        thead *
        {
            font-weight: 700;
        }
    }
}