
// Media query breakpoints

$sizes: 
(
    "medium":48em,
    "large":62em,
    "xlarge":90em,
);

@mixin breakpoint($size)
{
    @media (min-width: map-get($sizes, $size))
    {
        @content;    
    }
}

// Text mixins

@mixin sans-paragraph
{
    font-family: 'PublicSans';
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1rem, 0.5rem + 2vw ,1.6rem);
}

@mixin dm-paragraph
{
    @include sans-paragraph;
    font-family: 'DMSerifText';
}

@mixin sans-header
{
    font-family: 'PublicSans';
    font-weight: 500;
    font-style: normal;
    font-size: clamp(2.2rem, 1.5rem + 2vw, 3rem);
}

@mixin dm-header
{
    @include sans-header;
    font-family: 'DMSerifText';
}

// Utility Classes

@mixin hidden
{
    display: none;
    position: absolute;
}

@mixin accordion-animation
{
    @keyframes accordion-animation 
    {
        0% 
        {
          opacity: 0;
          transform-origin: top center;
          transform: rotateX(-90deg);
        }
        5% 
        {
          opacity: 1;
        }
        
        80% 
        {
          transform: rotateX(8deg);
        }
        
        83% 
        {
          transform: rotateX(6deg);
        }
        92% 
        {
          transform: rotateX(-3deg);
        }
        
        100% 
        {
          transform-origin: top center;
          transform: rotateX(0deg);
        }
    }
}

@keyframes visible-animation-top
{
    from
    {
      opacity: 0;
      transform: translateX(-10%);
    }

    to
    {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes visible-animation-bottom
{
  from
  {
    opacity: 0;
    transform: translateX(10%);
  }

  to
  {
    opacity: 1;
    transform: translateX(0);
  }
}